.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    }

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.slider-sk{
    height: 100vh;
}

.login-col-sk{
    height: 100vh;
    /* background-color: rgba(255,255,255,.4) */
}
.login-row-bg-sk{
    background-color: #895938 ;
    background-repeat: no-repeat;
    background-size: cover;
}
.mp-gov-logo-sk{
    /* height: 25%; */
    width: 75%;
    align-content: center;
}
.heading-div-sk{
    margin-top: 10%;
    margin-bottom: 7%;
}

.headline-1-sk {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
    color: white;
}
.headline-2-sk {
    font-size: 2.8rem;
    color: white;
}

.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
}

.steps-action {
    margin-top: 24px;
}

.spin-sk{
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;  
}
.logo{
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0px;
    border: 1px dashed white;
    padding: 2px;
    text-align: center;
}

.steps-content{
    padding-top: 15px !important;
}

.ant-steps-item-title{
    font-size: 12px !important;
}
.reg-hgb > h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
}
.reg-hgb > h3 {
    text-align: center;
    padding: 24px;
}
.reg-hgb-2{
border-left: 1px dashed #f5f5f5;
border-right: 1px dashed #f5f5f5;
}